<div class="paddingComp">
    <h1>Available currencies</h1>
    <div class="row paddingComp">
        <div class="col-4">
            <label><i class="fa fa-search"></i> Search: </label>
            <input *ngIf="selectedFilter == 'id'" type="text" [(ngModel)]="currencyFilter.id" name="filterId">
            <input *ngIf="selectedFilter == 'name'" type="text" [(ngModel)]="currencyFilter.attributes.name" name="filterName">
            <input *ngIf="selectedFilter == 'code'" type="text" [(ngModel)]="currencyFilter.attributes.code" name="filterCode">
            <input *ngIf="selectedFilter == 'type'" type="text" [(ngModel)]="currencyFilter.attributes.currency_type" name="filterType">
        </div>
        <div class="col-4">
            <select [(ngModel)]="selectedFilter">
                <option *ngFor="let optionFilter of optionsFilter">{{optionFilter}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-6"
             *ngFor="let currency of currenciesArray | slice:0:200 | paginate: { itemsPerPage: 10, currentPage: p } | filterBy: currencyFilter">
            <div class="borderCurr">
                <a [routerLink]="['/currency',currency.id]">
                    ID: {{currency.id}} Type: {{currency.attributes.currency_type}} Symbol:
                    {{currency.attributes.symbol}}
                </a>
            </div>
            <li *ngIf="(currenciesArray | filterBy: currencyFilter).length === 0">
                No matching elements
            </li>
        </div>
        <br>
        <br>
        <pagination-controls (pageChange)="p = $event"
                             responsive="true"></pagination-controls>
    </div>
</div>